@charset "UTF-8";

/* Estilo para impressoras */

* {
    margin: 10;
    padding: 10;
}

html {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.5em;
    line-height: 1.5em;
}

menu {
    display: none;  /* NÃO VAI SER EXIBIDO */
}

article {
    width: 100%;
}

article::after {
    content: 'Esse artigo foi impresso através do site https://nwa.wtf/ no dia 19-11-2022';
}
