@charset "UTF-8";

body {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    background-color: rgba(0, 0, 0, 0.848);
}

img#kevin {
    width: 200px;
    border-radius: 90pt;
    margin: auto;
}

a {
    color: white;
}
